
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link  {
    text-decoration: none;
	color: black;
}

a:hover  {
    text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}
